* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}

 .footer
 {
     padding: 0px 2rem 2rem 2rem;
 }


.footerContainer {
  display: flex;
  justify-content: space-between;
  justify-items: baseline;
  margin: 3rem 0px 0px 0px;
  
}

.copyright p {
  font-size: 1.3rem;
  margin: 0px;
}
.icons span {
  padding: 0 0.5rem;
  font-size: 1.5rem;
  color: rgb(59, 59, 59);
}
