*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color: rgb(247, 247, 247);
}

.login
{
    display: flex;
    flex-direction: column;
    align-items: center ;
    margin: 10rem auto;

}

.login p
{
    font-size: 2rem;
    margin: 0px;
   
}

.loginForm 
{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 25rem
}
.loginForm  input
{
    padding:1rem;
    
    margin-top: 0.4rem;
    border:1px solid grey;
    border-radius: 10px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}

.loginForm button
{
    margin: 2rem 0 0 0;
    padding: 0.8rem 3rem;
    border: none;
    border-radius: 10px;
    background-color: rgb(58, 120, 212);
    color:white;
    font-size: 1.3rem;

}