@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color: rgb(247, 247, 247);
    max-width: 100vw;
    font-family:'Rubik' 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* overflow: hidden; */
}

 
 

.headerContainer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00914a;
    /* padding: 2rem; */
    height: 5rem;
}
.headerContainer h4
{
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
    /* align-self: flex-start; */
    margin: 0px 19rem 0px 0px;
    word-spacing: 2rem;
    /* align-self: center; */

}

.corenLogo
{
    padding-left: 2rem;

}
.corenLogo:hover
{
    transform: scale(1.05);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.corenLogo img
{
    align-self: flex-start;
    height:4rem;
    width: 6rem;
}

/***************HEADER ENDS*****************/
  



.finalSubmit
{
    background-color: white;
    border: 1px solid gray;
    border-radius: 20px;
    width: 40rem;
    margin: 10rem auto;
    padding: 2rem;
}

/* .finalSubmit span
{
    padding: 1rem;
    font-size: 2rem;
    color: white;
    background-color: red;
    height: fit-content;
    width: 3rem;
    border-radius: 50px;
    
} */

.finalSubmit p
{
    font-size: 2rem;
    text-align: center;

}


















/***********************FOOTER BEGINS********/

.footer
{
    padding: 0px 2rem 2rem 2rem;
}


.footerContainer {
 display: flex;
 justify-content: space-between;
 justify-items: baseline;
 margin: 3rem 0px 0px 0px;
 
}

.copyright p {
 font-size: 1.3rem;
 margin: 0px;
}
.icons span {
 padding: 0 0.5rem;
 font-size: 1.5rem;
 color: rgb(59, 59, 59);
}

.icons span:hover
{
    cursor: pointer;
}
